html{
    font-size: 62.5%;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    list-style: none;
}
header{
    padding:0 7%;
    width: 100%;
}
section{
    
}
.h1-portfolio,
.h3-portfolio{
    padding-left:3%;
}
body{
    background-color: rgb(211, 211, 211);
}
.left{
    float: left;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
}
.left .fa-window-close{
    /* font-size: 2rem; */
    display: none;
}
.right .fa-bars,
.right .picture-right .logo img{
    display: none;
}
.picture-img{
    padding-left:15px ;
}
.logo img{
    margin: 12px 0 0 0;
    width: 45%;
    height: 14%;
    
    object-fit: cover;
    border-radius: 10px;
}
h1 {
    padding: 20px 0;
    font-size: 2rem;
    font-weight: lighter;
}
h3 {
    padding: 0 0 20px 0;
    font-size: 1.5rem;
}
.nav {
    line-height: 2; 
}
.fa-th-large{
    padding-left: 15px;
    color: seagreen;
    font-size: 2rem;
}
.nav-portfolio a{
    padding: 0 0 20px 5px;
    font-size: 2rem;
    font-weight: lighter;
    color:seagreen;
}
.nav-portfolio:hover{
    cursor: pointer;
    width: 100%;
    background-color: slategray;

}
.fa-user{
    padding-left: 15px;
    font-size: 2rem;
    color:#000;
}
.nav-about a{
    padding: 0 0 0 5px;
    font-size: 2rem;
    font-weight: lighter;
    color:#000;
}
.nav-about:hover{
    cursor: pointer;
    width: 100%;
    background-color: slategray;
}
.fa-envelope{
    padding-left: 15px;
    font-size: 2rem;
    color:#000;
}
.nav-contact:hover{
    cursor: pointer;
    width: 100%;
    background-color: slategray;
}
.nav-contact a{
    padding: 0 0 0 5px;
    font-size: 2rem;
    font-weight: lighter;
    color:#000;
}
.nav-links{
    padding: 30px 0 0 15px;
    font-size: 2rem;
} 
.nav-links a{
    color:#000;
}
.nav-links a:hover{
    color: seagreen;
}
.right{
    /* position: absolute; */
    width: 75%;
    float: right;
}



h1{
    color:#000;
    font-size: 3.5rem;
    font-weight: 500;
}
.filter {
    padding: 25px 0;
}
.filter span{
    font-size: 2rem;
    font-weight:lighter;
}
.filter a{
    margin-right: 5px;
    background-color: rgb(255, 255, 255);
    /* font-size: 3rem; */
    
}
.filter a span{
    /* color:#000; */
    font-size: 1.5rem;
}
.filter a i{
    color:#000;
    font-size: 1.5rem;

}
.filter .btn-btn-black{
    display: inline-block;
    padding: 10px;
    background-color:#000;
    color:#fff;
}
.filter .btn-btn-black:hover{
    background-color: #ccc;
    color:#000;
}
span.btn-text {
    color: black;
}
.filter .btn{
    display: inline-block;
    padding: 10px;
} 
.filter .btn:hover{
    background-color: #ccc;
}
.border{
    margin-top: 20px;
    border:3px solid rgb(177, 176, 176);
} 







.blog .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.blog .container .box .image img{
    /* width: 40.3rem; */
    /* height: 25rem; */
    overflow: hidden;
    height: 25rem;
    width: 100%;

}
.blog .container .box{
       /* border:var(--border); */
       background: #fff;
       text-align: center;
}
.blog .container .box .content p{
    font-size: 1.5rem;
    color:rgb(41, 41, 41);
    text-align:initial;
    padding: 10px 0 5px 10px;
    font-weight: lighter;
}
.blog .container .box .content span{
    color: #000;
    font-size: 2rem;
    display: flex;
    padding: 10px 0 5px 10px;
}
.tabar{
    text-align: center;
    font-size: 3rem;
    padding:50px 0;
}
.tabar .btn-btn-black{
    display: inline-block;
    background-color: #000;
    color:#fff;
    width: 40px;
}
.tabar .btn:hover,
.tabar .btn-btn-black:hover{
    background-color: rgb(126, 125, 125);
    color:#000;
}
.tabar .btn{
    display: inline-block;
    /* background-color: lawngreen; */
    width: 40px;
    color:#000;
}








.about-section .picture-two{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap:1.5rem;
}
.about-section .picture-two .img img{
   object-fit: cover;
    height:35rem;
    width: 100%;
}
.about-section h1{
    font-weight: 600;
    font-size: 2.5rem;
}
.about-section p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 25px;
}


.box-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    padding-bottom: 100px;
}
.box-container .box{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.box-container .box .box-content .basic{
    /* color:red; */
    background-color: seagreen;
    height: 10rem;
}

.box-container .box .box-content .basic span{
    display: inline-block;
    color:#fff;
    font-size: 3rem;
    padding:32px;
}
.box-container .box .box-content .basic-two{
    /* color:red; */
    background-color: rgb(116, 116, 116);
    height: 10rem;
}
.box-container .box .box-content .basic-two span{
    display: inline-block;
    color:#fff;
    font-size: 3rem;
    padding:32px;
}

.box-container .box .box-content .basic-one{
    font-size: 1.5rem;
    height: 5rem;
    border-bottom: 1px solid #ccc;
    padding:16px;
}


.box-container .box .box-content .basic-three{
    font-size: 1.5rem;
    height: 10rem;
    border-bottom: 2px solid #ccc;
    padding:32px;
}
.box-container .box .box-content .basic-four{
    /* padding:10px 0; */
    background-color: rgb(240, 240, 240);
}
.box-container .box .box-content .btn {
    display: inline-block;
    background-color: seagreen;
    width: 10rem;
    height: 5rem;
    margin: 20px;
    padding: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color:#fff;
}
.box-container .box .box-content .btn:hover{
    background-color: #000;
    cursor: pointer;
}

.contact-section{
    padding-bottom:50px ; }   
.contact-section .box-container-one{
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:0rem;
}


.contact-section .box-container-one .box{
    height: 12rem;
    background-color: rgb(116, 116, 116);
    padding:16px;
}
.contact-section .box-container-one .box-fine{
    background-color: seagreen;
}
.contact-section .box-container-one .box .box-contact{
    padding: 16px;
    text-align: center;
}
.contact-section .box-container-one .box .box-contact p,
.contact-section .box-container-one .box .box-contact i{
    color: #fff;
    
}
.contact-section .box-container-one .box .box-contact p{
    font-size: 1.5rem;
}
.contact-section .box-container-one .box .box-contact i{
    font-size: 3rem;
    padding:0 0 15px 0;
}

.border-one{
    margin:50px 0 20px 0;
    border: 0.5px solid #fff;
}

.contact-section form .inputBox p{
    font-size: 1.9rem;
    padding: 5px 0;
}
.contact-section form .inputBox input{
    width: 100%;
    height: 3.5rem;
    border-radius: 3px;
    
}
.contact-section form .inputBox input:hover{
    border:1px solid #000;
}

.contact-section form .btn-click{
    display: inline-block;
    margin-top: 20px;
    background-color: red;
    color:rgb(255, 255, 255);
    font-size: 1.8rem;
    background-color: #000;
    height:  4rem;
    padding:10px;
}
.contact-section form .btn-click:hover{
    background-color: rgb(223, 223, 223);
    color:#000;
    cursor: pointer;
}
footer{
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    padding-bottom: 50px;
}
h3{
    text-transform:uppercase;
    font-size: 2.5rem;
}
footer .footer-section p{
    font-size: 1.5rem;
    font-weight: lighter;
}

footer .footer-section .credit{
    font-size: 1.9rem;
    padding-top: 10px;
}

footer .footer-section .credit a{
    color: seagreen;

}
.blog-section .lorem .img-one  {
    display: flex;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #fff;;
}
.blog-section .lorem:hover{
    background-color: rgb(175, 175, 175);
    width: 100%;
    cursor: pointer;
}
.blog-section .lorem .img-two  {
    display: flex;
    padding: 10px 0 10px 10px;
   
}
footer .blog-section .lorem img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.blog-section .lorem .img-one .footer-text{
    padding: 0 5px;
    font-size: 2rem;
}
.blog-section .lorem .img-two .footer-text{
    padding: 0 5px;
    font-size: 2rem;
}
footer .populartag .travel{
    background-color: #000;
    color:#fff;
}
footer .populartag span{
    display: inline-block;
    background-color: rgb(182, 181, 181);
    font-size: 1.5rem;
    margin: 5px;

}
.right .end{
    font-size: 2rem;
    background-color: black;
    height: 5rem;
    color:#fff;
}
.right .end .credit{
    text-align: center;
    padding: 12.5px;
}
.right .end .credit a{
    color:seagreen;
}

@media(max-width:1200px){
    html{
        font-size: 55%;
    }

}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header .left{
        width: 35%;
        z-index: 1004;
        position: fixed;
        left: -100%;
    }
    .picture-img{
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
        gap:0rem;
    }
    .left .fa-window-close{
        /* position: absolute; */
    display: block;
    padding-top: 35px;
    padding-left: 15px;
    font-size: 7rem;
    }
    .left .fa-window-close.active{
        display: none;
    }
    .right{
        padding: 0 12px;
    width: 100%;
    position: absolute;
    }
    .about-section .picture-two .img img {
        object-fit: cover;
        height: 35rem;
        width: 97%;
    }
    header{
        padding:0 10px;
        width: 100%;
    }
    .right .fa-bars{
        display: block;
        font-size: 4rem;
        padding-bottom: 20px;
        padding-top: 10px;
        width: 0%;
    }
    .logo img {
        margin: 12px 0 0 0;
        width: 65%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    .right .picture-right .logo img{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;      
        float:right; 
    }
    .right .fa-bars:hover{
        cursor: pointer;
        color:#fff;
    }
    header .left.active{
        left: 0;
        display: block;
    }
    .h1-portfolio,
.h3-portfolio{
    padding-left:15px;
}
header{
    padding:0;
    max-width: 100%;
}
}

@media (max-width:768px){
    .contact-section .box-container-one{
        display: flex;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap:0rem;
    }
    header .left{
        width: 50%;
        z-index: 1004;
        position: fixed;
        left: -100%;
    }
    .left .fa-window-close{
        /* position: absolute; */
    display: block;
    padding-top: 30px;
    padding-left: 15px;
    font-size: 4rem;
    }
    header{
        padding:0;
        width: 100%;
    }
    .right {
        padding: 0px 7px;
        width: 125%;
        position: absolute;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    /* header{
        padding:10px;
        width: 100%;
    } */
    .about-section .picture-two {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
        gap: 0rem;
    }
    .contact-section .box-container-one{
        display: block;
    }
 
}